
<span style="color:blue; font-size:30px;">1.Display_Hello_World</span>

In [ ]:
Display="Hello_World" 
print(Display)

Hello_World

<span style="color:blue; font-size:30px;">2.Statements or Conditions</span>

<span style="color:violet; font-size:25px; \n ">@ if-Statement</span>
<span style="color:yellow; font-size:25px;">@ if-else-Statement</span>
<span style="color:green; font-size:25px;">@ elif-Statement</span>

<span style="color:violet; font-size:20px;">if-statement</span>

In [4]:
a=50
if a>=50:
    print("This condition is True")

This condition is True

<span style="color:yellow; font-size:20px;">if-else-statement</span>

In [5]:
a=10
b=20
if a>5 and b<20:
    print("This condition is True")
else:
    print("This condition is False")

This condition is False

<span style="color:green; font-size:20px;">elif-statement</span>

In [6]:
a=100

if a==50:
    print("This Value is 50")
elif a==100:
    print("This value is 100")
else:
    print("This value is wrong")

This value is 100

<span style="color:blue; font-size:30px;">3.Loops</span>

<span style="color:orange; font-size:25px;">@ for-loop</span>
<span style="color:red; font-size:25px;">@ while-loop</span>

<span style="color:orange; font-size:20px;">for-loop</span>

In [8]:
#1.Loop through a range of numbers:
#print number from 1 to 5

for i in range(1,6):
    print(i)

1
2
3
4
5

In [11]:
#2.Loop through a list

Fruits=["Apple","Banana","Cherry"]
for Fruit in Fruits:
    print(Fruit)

Apple
Banana
Cherry

In [13]:
#3.For-loop with condition
#Print even number from 1 to 10 

for num in range(1,11):
    if num%2==0:
        print(num)

2
4
6
8
10

In [9]:
#Nested-for-loop:
#Print a multiplication Table

for i in range(1,4):
    for j in range(1,4):
        print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9

<span style="color:red; font-size:20px;">while-loop</span>

In [11]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [16]:
#Enter password

password=" "
while(password!="John"):
    password=(input("Enter the password"))
if password=="John":
    print("Access Granted")

Access Granted

<span style="color:blue; font-size:30px;">4.Functions</span>

<span style="color:orange; font-size:25px;">Arithmetic operatos using Function</span>

In [2]:
def addition():
    num1=30
    num2=20
    sum=num1+num2
    print("Addition:",sum)

def subtraction():
    num1=30
    num2=20
    sum=num1-num2
    print("Subtraction:",sum)

def multiply():
    num1=30
    num2=20
    sum=num1*num2
    print("Multiplication:",sum)

def division():
    num1=30
    num2=20
    sum=num1/num2
    print("Division:",sum)

addition()
subtraction()
multiply()
division()

Addition: 50
Subtraction: 10
Multiplication: 600
Division: 1.5

<span style="color:orange; font-size:25px;">Logic operator using Function</span>

In [12]:
def AND(num1,num2):
    return num1 and num2

def OR(num1,num2):
    return num1 or num2

def NOT(num1):
    return not num1

def NAND(num1,num2):
    return not(num1 and num2)

def NOR(num1,num2):
    return not(num1 or num2)

def XOR(num1,num2):
    return num1!=num2

def XNOR(num1,num2):
    return num1==num2  

print("A | B | AND | OR | NOT | NAND | NOR | XOR | XNOR ")
print("________________________________________________")
for num1 in [0,1]:
    for num2 in [0,1]:
        print(f"{num1} | {num2} |  {int(AND(num1,num2))}  | {int(OR(num1,num2))}  |  {int(NOT(num1))}  |  {int(NAND(num1,num2))}   |  {int(NOR(num1,num2))}  |  {int(XOR(num1,num2))}  |  {int(XNOR(num1,num2))}")

A | B | AND | OR | NOT | NAND | NOR | XOR | XNOR
________________________________________________
0 | 0 |  0  | 0  |  1  |  1   |  1  |  0  |  1
0 | 1 |  0  | 1  |  1  |  1   |  0  |  1  |  0
1 | 0 |  0  | 1  |  0  |  1   |  0  |  1  |  0
1 | 1 |  1  | 1  |  0  |  0   |  0  |  0  |  1

<span style="color:Green; font-size:25px;">Function with return</span>

In [18]:
def add_with_return():
    x=20
    y=30
    return x+y

def sub_with_return():
    x=30
    y=20
    return x-y

def mult_with_return():
    x=20
    y=20
    return x*y

def div_with_return():
    x=50
    y=10
    return x/y

add_with_return()

50

In [20]:
sub_with_return()

10

In [21]:
mult_with_return()

400

In [22]:
div_with_return()

5.0

<span style="color:blue; font-size:30px;">5.Classes</span>

<span style="color:red; font-size:20px;">@ Class and Object</span>

In [34]:
class Open:
    def add(self, num1, num2):
        return num1 + num2

    def sub(self, num1, num2):
        return num1 - num2

    def mult(self, num1, num2):
        return num1 * num2

    def div(self, num1, num2):
        return num1 / num2
    
op = Open()
    
print("Addition:",op.add(10,20))
print("subtraction:",op.sub(30,10))
print("Multiplication:",op.mult(20,20))
print("Division:",op.div(30,10))

Addition: 30
subtraction: 20
Multiplication: 400
Division: 3.0

<span style="color:red; font-size:20px;">@ Class with constructor</span>

In [37]:
class Person:
    def __init__(self, Name, Age):
        self.Name = Name
        self.Age = Age

    def display(self):
        print(f"Name: {self.Name}")
        print(f"Age: {self.Age}")


person1 = Person("John", 34)
person2 = Person("Jai", 31)

person1.display()
person2.display()

Name: John
Age: 34
Name: Jai
Age: 31

In [12]:
class student:
    def __init__(self,name,id_num,dept):
        self.name=name
        self.id_num=id_num
        self.dept=dept
    def display(self):
        print(f"Name:{self.name}")
        print(f"Id_Num:{self.id_num}")
        print(f"Dept:{self.dept},\n")
        
student1=student("John",8691,"BBA")
student2=student("Jai",1806,"ITI")
student3=student("Kutty",2409,"BE")

student1.display()
student2.display()
student3.display()

Name:John
Id_Num:8691
Dept:BBA,

Name:Jai
Id_Num:1806
Dept:ITI,

Name:Kutty
Id_Num:2409
Dept:BE,

<span style="color:red; font-size:20px;">@ Class with static method</span>

In [18]:
class operator:

    @staticmethod
    def add(a,b):
        return a+b
    @staticmethod
    def sub(a,b):
        return a-b
    @staticmethod
    def mul(a,b):
        return a*b
    @staticmethod
    def div(a,b):
        return a/b
    
result1= operator.add(10,20)
result2= operator.sub(20,10)
result3= operator.mul(20,20)
result4= operator.div(40,2)

print("Addition:",result1)
print("Subtraction:",result2)
print("Multiplication:",result3)
print("Division:",result4)

Addition: 30
Subtraction: 10
Multiplication: 400
Division: 20.0

<span style="color:blue; font-size:30px;">6.Numpy in python</span>

In [21]:
import numpy as np

list1=[1,2,3,4]
list2=[5,6,7,8]

print("Add:",list1+list2)

Add: [1, 2, 3, 4, 5, 6, 7, 8]

<span style="color:yellow; font-size:20px;"># Tasks of numpy</span>

In [24]:
#1. Extract the Maths marks of all students and convert them to float.

import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

Maths_marks=students[:,3].astype(float)

print("Maths_marks_converted_them_to_Float:",Maths_marks)

Maths_marks_converted_them_to_Float: [79. 79. 64. 79. 69. 87. 81. 68. 72. 67.]

In [33]:
# 2. Calculate the average mark of the English subject in students.

import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

Average_Mark=students[:,2].astype(int)

English_sub=np.mean(Average_Mark)

print("Average_mark_of_the_English_subject:",English_sub)

Average_mark_of_the_English_subject: 74.6

In [36]:
# 3. Find the Student with the highest Mark in Tamil.

import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

Tamil=students[:,1].astype(int)

Highest_mark=np.max(Tamil)

print("Highest_Mark_in_Tamil:",Highest_mark)

Highest_Mark_in_Tamil: 90

In [42]:
# 4. Extract the names of students with Social mark higher than 90.

import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

Social=students[students[:,5]>'90',0]
print("Higher_then_90:",Social)

Higher_then_90: ['Johnson' 'Jaipa' 'Ebi']

<span style="color:blue; font-size:30px;">7.Pandas in python</span>

In [2]:
#simple example for create Datafram in pandas

import pandas as pd

Data={'Name':'John','Age':34,'Dept':"BBA"}
print(Data)

Record=pd.DataFrame(Data,index=[0])
Record.head()

{'Name': 'John', 'Age': 34, 'Dept': 'BBA'}

   Name  Age Dept
0  John   34  BBA

In [5]:
Record.to_string()

'   Name  Age Dept\n0  John   34  BBA'

In [4]:
Record.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1 non-null      object
 1   Age     1 non-null      int64
 2   Dept    1 non-null      object
dtypes: int64(1), object(2)
memory usage: 32.0+ bytes